@import '~bootstrap/scss/bootstrap';
@import 'react-bootstrap-typeahead/css/Typeahead.scss';
@import './themes.scss';

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primaryTextColor);
  background-color: var(--primaryBackgroundColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > * {
    width: 100%;
  }
}

.dropdown-menu {
  background-color: #222529;
  border: 1px solid #ffffff1a;
  & > .dropdown-item {
    color: rgba(255, 255, 255, 0.55);
    &:hover {
      color: white;
      background-color: #1e2125;
    }
  }
}
